:root {
    --clr-dark: rgb(17, 8, 8);
    --clr-light: linear-gradient( rgb(246, 175, 175), rgb(230, 214, 214), rgb(248, 198, 247));
    --clr-head: rgb(3, 53, 18);
    --clr-border: red;
    /* --clr-font1: brown;
    --clr-font2: rgb(58, 26, 58);
    --clr-font3: rgb(34, 31, 31);
    --clr-font4: rgb(37, 9, 9); */
    --clr-card: rgb(94, 11, 11);
    --clr-footer: rgb(65, 60, 60);
}

.darkMode {
    --clr-light: linear-gradient(rgb(30, 27, 27), rgb(89, 14, 89), rgb(13, 12, 12));
    --clr-dark: rgb(148, 148, 212);
    --clr-head: rgb(236, 239, 242);
    --clr-border: gold;
    /* --clr-font1: gold;
    --clr-font2: violet;
    --clr-font3: rgb(216, 124, 124);
    --clr-font4: white; */
    --clr-footer: silver;
    --clr-card: rgb(163, 163, 245);
}

#bg {
    background: var(--clr-light);
    background-repeat: repeat-y;
    height: 100vh
}

#headerDiv {
    margin: -10px;
}

#firstBlogP {
    display: inline-block;
    font-size: 32px;
    color: var(--clr-head);
    font-family: cursive;
    margin-left: 15px;
}

#toggleButton {
    float: right;
    margin-top: 2%;
    margin-right: 2%;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    color: gold;
    border: 2px solid gold;
}

#backButton {
    float: right;
    margin-top: 2%;
    margin-right: 5%;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    background-color: black;
    color: gold;
    border: 2px solid gold;
}

/* #blog-container {
    /* display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: center;
} */

.blog-cards {
    border: 3px solid var(--clr-border);
    margin-bottom: 8px;
    padding-left: 5px;
    color: var(--clr-card);
}

/* #bp1Div {
    border: 3px solid var(--clr-border);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: var(--clr-font1);
}

#bp2Div {
    border: 3px solid var(--clr-border);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: var(--clr-font2);
}

#bp3Div {
    border: 3px solid var(--clr-border);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: var(--clr-font3);
} */

/* #bpUserDiv {
    border: 3px solid var(--clr-border);
    margin-left: -8px;
    margin-right: -8px;
    margin-bottom: 8px;
    padding-left: 5px;
    color: var(--clr-font4);
} */
 #footerDiv {
    text-align: center;
    color: var(--clr-footer);
 }

 #githubButton {
    border: 2px solid gold;
    background-color: black;
    color: gold;
    cursor: pointer;
 }




